<header class="header-site crt" role="banner">
    <div class="content">

        <!-- <div class="person"> -->
        <div class="logo">
            <img style="width:80%; height:60%; margin:auto;" alt="Logo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send us an e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <!-- <a aria-label="Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a> -->

            <a aria-label="Github" title="Github repositories" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <!-- <a aria-label="LinkedIn" title="LinkedIn" target="_blank" href="{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a> -->

            <a aria-label="Facebook" title="Facebook" target="_blank" href="{{site.facebook_group_url}}">
                <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
            </a>

            <a aria-label="Use RSS to receive updates" title="Register to our RSS feed" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
        </div>
        <div>
        <ul style="padding-top: 0.9rem;" class="recent">
            <p>Recent News:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="Recent posts" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>
        </div>
    </div>
    {% include menu-search.html %}
</header>
