// COLORS
main =  #66ffff; // #5d4d7a;
mainHover = rgba(0, 204, 204, 0.42); // rgba(135, 116, 169, 0.42);
hover = darken(main, 50%);
mainLight =  #b300b3; // #AB67AB
sec  = #000000;
lightGray = #f2f2f2;
texts = #333333;
colorcode = #00b3b3; //#615576;
blackBase = #000000;
neotree = #2f2f33;

// Resolution
cut = 37.5rem;
