<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <!-- {% include tree-posts.html %} -->
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
            {% if page.date %}
                <div class="time">
                    <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
                  <br></br>
                </div>
            {% endif %}
            <h1 class="post-title" itemprop="name">{{ page.post_title }}</h1>

            <article style="text-align: justify;" role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include comments.html %}
        </section>
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
